@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,400&display=swap');

* {

    margin: 0px;
    padding: 0px;
    background-origin: border-box;
    font-family: 'Roboto', sans-serif;


  
}

.container {
    width: 100%;
    min-height: 100vh;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("./images/earthnews.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("./images/earthnews.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}



.row {

    width: 100%;
    padding: 0px, 80px;

}

.navbar {
    width: 100%;
    display: flex;
    background-color: #71797E;
    justify-content: space-between;
    align-items: center;
    padding: 10px, 0px;

    position: relative;
    z-index: 1;
   

  
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom:10px ;

}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a {
    padding: 10px 18px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;

}

.navbar ul li a:hover {
    background-color: #0096FF;
}

h1,
h3 {
    color: #FAF9F6;
}

.navbar img {
   overflow: hidden;
   height: 45px;
   width: 80px;
    margin-top: 2px;
      margin-bottom:2px ;
      margin-left: 3px;
      border-radius: 5px;

}

.content{
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.content h1{
	font-size: 100px;
	color: #FFFFFF;
	font-weight: 400;
	margin-bottom: 30px;


}

.content h3{
font-size: 30px;
	color: #FFFFFF;



}

.content a{
	text-decoration: none;
	margin-top: 25px;
	font-size: 20px;
	display: inline-block;
	letter-spacing: 2px;
	padding: 12px 20px;
	background-color: #0096FF;
	border-radius: 5px;
	color: #FFFFFF;

}

html{
	scroll-behavior: smooth;
}



#intl{

width: 100%;
	min-height: 100vh;


   
    display: flex;
    justify-content: center;
    align-items: center;
  /*  flex-direction: column ;*/
}
#celeb{

width: 100%;
	min-height: 100vh;

     display: flex;
    justify-content: center;
    align-items: center;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #71797E;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #0096FF;
}

.container-intl{

    width: 100%;
    min-height: 100vh;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("./images/earthnews.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("./images/earthnews.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content-intl h1 p{
 display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom:10px ;
     margin-left: 10px;


}


.content-intl h1 {
 font-size: 80px;


}

/*Img international*/
.interclass {


   height: 45%;
   width: 30%;
   display: inline-block;
    margin-top: 50px;
      margin-bottom:50px ;
      margin-left: 30px;
      border-radius: 50px;


}
/*img celeb*/
.celebclass{


   height: 20%;
   width: 30%;
   display: inline-block;
    margin-top: 2px;
      margin-bottom:2px ;
      margin-left: 3px;
      border-radius: 50px;}


      .container-celeb{

    width: 100%;
    min-height: 100vh;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("./images/earthnews.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("./images/earthnews.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content-celeb h1 p{
 display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom:10px ;

    margin-left: 10px;




}

.content-celeb h1 {
 font-size: 80px;


}

.content-celeb a{
    text-decoration: none;
    margin-top: 25px;
    font-size: 50px;
    display: inline-block;
    letter-spacing: 2px;
    padding: 12px 20px;

    
   
    color: #0096FF;

}

.content-intl a{
    text-decoration: none;
    margin-top: 25px;
    font-size: 50px;
    display: inline-block;
    letter-spacing: 2px;
    padding: 12px 20px;
    align-items: center;
    
    
    color: #0096FF;

}

footer{font: normal|italic|oblique normal|small-caps normal|bold|bolder|lighter 1em/1.5 sans-serif;}



/*.content a:hover{

	background-color: #0096FF;

}*/



